<html lang="en">
    <%- include("./partials/head")%>
    <body>
        <%- include("./partials/nav") %> 
        <div class="details content">
            <h2><%= blog.title %></h2>
            <div class="content">
              <p><%= blog.body %></p>
            </div>
            <a class="delete" data-doc="<%= blog._id %>">delete</a>
          </div>
          <%- include("./partials/footer") %> 
    </body>
</html>